@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat:wght@700&family=Dancing+Script:wght@700&family=Fredoka+One&family=Russo+One&display=swap');

/* Fonts */
.main-f{
  font-family: 'Russo One', sans-serif;
}
.name-f{
  font-family: 'Fredoka One', cursive;
}
.des-f{
  font-family: 'Caveat', cursive;
}
.contact-f{
  font-family: 'Dancing Script', cursive;
}

/* arrow */
.to-top {
  background-color: #fff;
  position: fixed;
  right: 20px;
  top: -100%;
  width: 50px;
  height: 50px;
  z-index: 10000;
  text-align: center;
  transition: 0.8s;
  border-radius: 50%;
  cursor: pointer;
}
.to-top span {
  font-size: 23px;
  font-weight: bold;
  line-height: 47px;
  color: #333;
  font-size: 60px;
}
.to-top.show {
  top: 600px;
}
@media (max-width: 600px) {
  .to-top.show {
    top: 600px;
    right: 40px;
    width: 25px;
    height: 25px;
  }
}
